{# templates/backend/users/index.html.twig #}
{% extends 'backend.html.twig' %}

{% block content %}
    <div>
        <div>
            total: {{ meta.total }}
            <br><br>
        </div>
        <div>
            {% for user in users %}
                {{ user.email|e }}
            {% endfor %}
            <br><br>
        </div>
        <div>
            {% if meta.prev is defined and meta.prev is not null %}
                <a href="{{ meta.prev }}">Previous</a>
            {% endif %}
            {% if meta.next is defined and meta.next is not null %}
                <a href="{{ meta.next }}">Next</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
