:root {
    --hljs-base: #BCBEC4;
    --hljs-keyword: #CF8E6D;
    --hljs-variable: #9876AA;
    --hljs-variable-var: #C77DBB;
    --hljs-title: #56A8F5;
    --hljs-comment: #7A7E85;
    --hljs-string: #6AAB73;
    --hljs-number: #2AACB8;
    --hljs-meta: #B3AE60;
    --hljs-attr: #467CDA;
    --hljs-doctag: #68A67E;
}

.hljs {
    color: var(--hljs-base);
}

.hljs-meta {
    color: var(--hljs-meta);
}

.hljs-doctag {
    color: var(--hljs-doctag);
}

.hljs-keyword, .hljs-meta .hljs-keyword, .hljs-template-tag, .hljs-template-variable, .hljs-built_in, .hljs-literal, .hljs-type/*, .hljs-variable.language_ /*$this*/ {
    color: var(--hljs-keyword);
}

/*.hljs-title, .hljs-title.class_, */.hljs-title.class_.inherited__, .hljs-title.function_, .hljs-function .hljs-title {
    color: var(--hljs-title);
}

.hljs-title.class_ {
    color: var(--hljs-base);
}

.hljs-attr, .hljs-attribute, .hljs-operator, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-id {
    color: var(--hljs-attr);
}

.hljs-variable {
    color: var(--hljs-variable-var);
}

.hljs-params .hljs-variable, .hljs-variable.constant_ {
    color: var(--hljs-variable);
}

.hljs-number {
    color: var(--hljs-number);
}

.hljs-meta .hljs-string, .hljs-regexp, .hljs-string {
    color: var(--hljs-string);
}

.hljs-symbol {
    color: #ffa657
}

.hljs-code, .hljs-comment, .hljs-formula {
    color: var(--hljs-comment);
}

.hljs-name, .hljs-quote, .hljs-selector-pseudo, .hljs-selector-tag {
    color: #7ee787
}

.hljs-subst {
    color: #c9d1d9
}

.hljs-section {
    color: #1f6feb;
    /*font-weight: 700*/
}

.hljs-bullet {
    color: #f2cc60
}

.hljs-emphasis {
    color: #c9d1d9;
    /*font-style: italic*/
}

.hljs-strong {
    color: #c9d1d9;
    /*font-weight: 700*/
}

.hljs-addition {
    color: #aff5b4;
    background-color: #033a16
}

.hljs-deletion {
    color: #ffdcd7;
    background-color: #67060c
}

.hljs.language-markdown .hljs-section {
    color: var(--hljs-title);
}

.hljs.language-markdown .hljs-code {
    color: #aab8c5;
}
