{# templates/messenger/messenger.html.twig #}
{% extends "admin.html.twig" %}

{% block body %}
    <div class="row align-items-center mb-4">
        <div class="col"><h1 class="mb-2 mb-sm-0">Невыполненные задачи</h1></div>
    </div>

    {% for message in paginator['list'] %}
        <div class="card card-row mb-4">
            <div class="card-body">
                <div class="h5 mb-3">ID: {{ message.id }}</div>
                <div class="row gx-4">
                    <div class="col-sm-12 col-md-auto mb-2 mb-md-0">
                        <div class="small text-muted fw-semibold">{% include 'icon/bs-database.svg' %} Queue name</div>
                        <div>{{ message.queueName }}</div>
                    </div>
                    <div class="col-sm-12 col-md-auto mb-2 mb-md-0">
                        <div class="small text-muted fw-semibold">{% include 'icon/bs-envelope-dash.svg' %} Message class</div>
                        <div>{{ message.messageClass }}</div>
                    </div>
                    <div class="col-sm-12 col-md-auto">
                        <div class="small text-muted fw-semibold">{% include 'icon/bs-clock.svg' %} Time</div>
                        <div>{{ message.createdAt|date('c') }}</div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% include 'paginate/paginate.html.twig' with {'route': 'messenger', 'page': page, 'total': totalPages} only %}
{% endblock %}
