services:
  php:
    ports:
      - "${DOCKER_APP_IP}:80:80"

  database:
    ports:
      - "${DOCKER_APP_IP}:5432:5432"

  kafka-ui:
    ports:
      - "${DOCKER_APP_IP}:8081:8080"

  #redis:
  #  ports:
  #    - "${DOCKER_APP_IP}:6379:6379"

  redisinsight:
    ports:
      - "${DOCKER_APP_IP}:5540:5540"
      #- "0.0.0.0:5000:5000"
    ### Settings in 127.0.0.7:5540
    ### Host: {container_name}
    ### Host: blog-redis

  #mailer:
  #  ports:
  #    - "${DOCKER_APP_IP}:1025:1025"
  #    - "${DOCKER_APP_IP}:1080:1080"

  #messenger1:
  #  container_name: blog-messenger1
  #  restart: unless-stopped
  #  image: serginhold/blog-unit--php:latest
  #  environment:
  #    PHP_INI_SCAN_DIR: "/usr/local/etc/php/conf.d_ext:/usr/local/etc/php/conf.d"
  #  volumes:
  #    - ./docker/php/conf.d:/usr/local/etc/php/conf.d_ext
  #    - ./:/var/www
  #  depends_on:
  #    - php
  #  entrypoint: ["php", "/var/www/bin/console", "messenger:consume", "async"]

  #messenger2:
  #  container_name: blog-messenger2
  #  restart: unless-stopped
  #  image: serginhold/blog-unit--php:latest
  #  environment:
  #    PHP_INI_SCAN_DIR: "/usr/local/etc/php/conf.d_ext:/usr/local/etc/php/conf.d"
  #  volumes:
  #    - ./docker/php/conf.d:/usr/local/etc/php/conf.d_ext
  #    - ./:/var/www
  #  depends_on:
  #    - php
  #  entrypoint: [ "php", "/var/www/bin/console", "messenger:consume", "async" ]
