# vendor/bin/phpstan analyze src
parameters:
    level: 7
    #checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src/
    excludePaths:
        - src/*/ArgumentResolver/* # этим занимается валидация
    modulite:
        # project root is where composer.json/composer.lock/vendor exist
        projectRoot: .
        # typically, projectRoot/src ; .modulite.yaml files will be searched recursively
        srcRoot: src/

# vendor/bin/phpstan clear-result-cache && vendor/bin/phpstan analyze src
includes:
    - vendor/vkcom/modulite-phpstan/extension.neon
