html {
  margin: 0;
  padding: 0;
  font-size: $font-size-html;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $font-line-base;
  background-color: $color-base-bg;
  color: $color-base-text;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  margin: 3rem 0 3rem 0;
  font-weight: 500;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0.2rem $color-base-text;
}

input, button, .btn {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 1.4rem 0.3rem 1.4rem;
  max-width: 100%;
  height: $input-height;
  line-height: $input-line-height;
  border: none;
  border-radius: $border-radius;
  background-color: $color-base-light;
  color: $color-base-text;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

input {
  width: 50rem;
}

button, .btn {
  &:hover {
    background-color: $color-btn-hover;
    color: $color-btn-text;
    @include transition();
    transition-property: background-color, color;
  }
}


