// https://material.io/resources/color/#!/?view.left=1&view.right=0&primary.color=37474F&secondary.color=F4FF81
// https://material.io/resources/color/#!/?view.left=1&view.right=1&primary.color=414142&secondary.color=F4FF81

//$gutter: 1.6rem !default;
//$border-radius: 0.2rem !default;

$layout-width: 1400px;
$logo-height: 3rem;

$color-base-bg: #414142;
$color-base-text: rgba(255, 255, 255, 0.93);
$color-header-bg: #1b1b1b;
$color-link: #ffffb3; // #f4ff81

$font-family-base: system-ui;

$font-size-html: 62.5%;
$font-size-base: 1.6rem;

$font-line-base: 2.4rem;
