.btn {
  &--primary {
    background-color: $color-btn-bg;
    color: $color-btn-text;
  }
}

.btn-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.4rem;

  &__item {
    line-height: $input-line-height;
    padding: 0 1.4rem;
    white-space: nowrap;

    &.btn {
      margin-left: 1.4rem;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
