.l-container-wrap {
  padding: 0 2rem;
}

.l-container {
  margin: 0 auto;
  width: $layout-width;
  max-width: 100%;
}

.l-row-flex-space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
