.l-header-bg {
  background-color: $color-header-bg;
  margin-bottom: 4rem;
}

.l-header {
  display: flex;
  flex-direction: row;
  //justify-content: space-between;
}

.l-nav {
  display: flex;
  flex-direction: row;

  &__item {
    display: block;
    padding: $logo-height/2 2rem;
    line-height: $logo-height + 0.2rem;
    color: $color-base-text;
    border-top: 0.1rem solid transparent;
    border-bottom: 0.1rem solid transparent;
    text-decoration: none;

    &:hover {
      border-bottom-color: $color-base-text;
      @include transition(border-bottom-color);
    }
  }
}

.l-logo {
  padding-left: 0;

  &__img {
    float: left;
    height: $logo-height;
  }

  &__name {
    margin-left: 0.5rem;
  }
}
