{# templates/blog/card.html.twig #}
<div class="card card-row mb-4">
    <h2 class="card-header">
        <a class="link-body-emphasis link-underline-opacity-0" href="{{ url('post', {'slug': post.slug}) }}">{{ post.title }}</a>
    </h2>
    <div class="card-body">
        <div class="md-text mb-3">{% apply markdown_to_html %}{{ post.preview }}{% endapply %}</div>
        <a class="btn btn-outline-group" href="{{ url('post', {'slug': post.slug}) }}">Читать далее</a>
    </div>
</div>
