{# templates/blog/post.html.twig #}
{% extends "base.html.twig" %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>
    <div class="md-text">{{ markdown.parse(post.preview)|raw }}</div>
    <div class="md-text">{{ markdown.parse(post.content)|raw }}</div>
{% endblock %}
