{% extends 'base.html.twig' %}

{% block nav %}
    <ul class="navbar-nav mt-2 mt-md-0">
        <li class="nav-item">
            <a class="nav-link" href="{{ url('admin-post-list') }}">Записи</a>
        </li>
    </ul>
{% endblock %}
