{# templates/backend.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <header class="l-container-wrap l-header-bg">
        <nav class="l-container l-nav">
            <a class="l-nav__item l-logo" href="{{ url('backend_dashboard') }}"><img class="l-logo__img" src="/favicon.svg"><span class="l-logo__name">Sergey.Z</span></a>
            {% for item in app_nav.backend %}
                <a class="l-nav__item" href="{{ item.url }}">{{ item.name|e }}</a>
            {% endfor %}
        </nav>
    </header>
    <div class="l-container-wrap">
        <div class="l-container">{% block content %}{% endblock %}</div>
    </div>
{% endblock %}
