{# templates/backend.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <header class="l-container-wrap l-header-bg">
        <div class="l-container l-header">
            <div class="l-header-logo"><img class="l-header-logo__img" src="/favicon.svg"><span class="l-header-logo__name">Sergey.Z</span></div>
            <nav class="l-header-nav">
                {% for item in app_nav.backend %}
                    <a href="{{ item.url }}">{{ item.name|e }}</a>
                {% endfor %}
            </nav>
        </div>
    </header>
    <div class="l-container-wrap">
        <div class="l-container">{% block content %}{% endblock %}</div>
    </div>
{% endblock %}
