{# templates/backend.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <header style="padding: 5px 10px; background: rgb(88, 66, 145)">
        Backend<br>
        {% for item in app_nav.backend %}
            <li>
                <a href="{{ item.url }}">{{ item.name|e }}</a>
            </li>
        {% endfor %}
    </header>
    <div style="margin-top: 20px">{% block content %}{% endblock %}</div>
{% endblock %}
