{# templates/public.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <header style="padding: 5px 10px; background: orange">Public</header>
    <div style="margin-top: 20px">{% block content %}{% endblock %}</div>
{% endblock %}
