:root, [data-bs-theme=light] {
    --bs-font-sans-serif: 'Open Sans', sans-serif;
    --bs-font-monospace: Consolas, Monaco, monospace;
}

[data-bs-theme=dark] {
    /* custom */
    --bs-border-color: var(--bs-secondary-border-subtle);
    --bs-heading-color: var(--bs-dark-text-emphasis);
    --bs-code-color: #8fd6ea;
}

.fs-7 {
    font-size: 0.7rem !important;
}

.g-4,.gx-4 {
    --bs-gutter-x: 2rem;
}

.rounded-top-left-0 {
    border-top-left-radius: 0 !important;
}

.navbar {
    /*box-shadow: 0 0 35px 0 rgba(49, 57, 66, 0.5);*/
}

.navbar .icon-link .bi {
    height: 1.5em;
    width: auto;
}

.nav-editable .nav-link {
    --bs-nav-link-padding-x: 0;
    padding-top: 0;
    margin-right: 1.5rem;
}

.nav-editable .nav-link.active {
    color: inherit;
}

.form-control, .form-select, .form-control:focus, .form-select:focus {
    background-color: var(--bs-secondary-bg);
}

.navbar .form-control {
    border: none;
}

.input-group-text {
    background-color: var(--bs-secondary-bg);
}

.btn-outline-group {
    --bs-btn-bg: var(--bs-secondary-bg);
    /*--bs-btn-color: inherit;*/
    --bs-btn-border-color: var(--bs-border-color);
    --bs-btn-hover-color: var(--bs-heading-color);
    --bs-btn-hover-bg: var(--bs-tertiary-bg);
    --bs-btn-hover-border-color: var(--bs-btn-border-color);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: var(--bs-btn-hover-bg);
    --bs-btn-active-border-color: var(--bs-btn-hover-border-color);
    --bs-gradient: none;
}

.card {
    --bs-card-cap-padding-y: 0.75rem;
    --bs-card-bg: var(--bs-tertiary-bg);
    border: none;
}

@media (max-width: 575px) {
    .card.card-row {
        margin-left: calc(-1 * var(--bs-card-spacer-x));
        margin-right: calc(-1 * var(--bs-card-spacer-x));
    }
}

.h-color {
    color: var(--bs-heading-color);
}

.h1, h1 {
    margin-bottom: 1.5rem;
}

.h2, .h3, h2, h3 {
    margin-bottom: 1rem;
}

.alert {
    --bs-alert-margin-bottom: 1.5rem;
    --bs-alert-padding-x: 1.25rem;
    --bs-alert-padding-y: 1.25rem;
    border-radius: 0;
    border-left-width: 0.25rem;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
}

pre {
    /*margin-right: -0.75rem;
    margin-left: -0.75rem;
    padding: 0.75rem;*/
    padding: .375rem .75rem;
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    background-color: #1E1F22;
}

.editable-block {
    position: relative;
}

.editable-textarea {
    position: relative;
    z-index: 1;
    background: transparent !important;
    color: transparent !important;
    caret-color: var(--bs-body-color) !important;
    white-space: pre;
}

.editable-content {
    position: absolute;
    z-index: 0;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-color: transparent !important;
    /*padding-top: 1px; /*tests*/
}

.editable-textarea, .editable-content, .editable-content > code {
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    letter-spacing: normal;
    word-spacing: normal;
}

.editable-content > code {
    padding-bottom: 2.75rem; /* должно учесть размер padding и scrollHeight */
}

.card-file {
    --bs-card-spacer-y: 0.5rem;
    --bs-card-spacer-x: 0.5rem;
    --bs-card-cap-padding-x: 0.5rem;
}

.card-file .card-body {
    font-size: 0.875rem;
}

.card-file .card-footer {
    background-color: transparent;
    font-size: 0.75rem;
    border-top: none;
}

.card-file .card-footer .btn-close {
    font-size: inherit;
}

.card-file .card-footer .spinner-border {
    --bs-spinner-width: 0.875rem;
    --bs-spinner-height: 0.875rem;
}

.card-file-name {
    color: var(--bs-dark-text-emphasis);
    text-decoration: none;
}

.md-text img {
    max-width: 100%;
    height: auto;
}

